body{
    display: grid;
    grid-template-areas: 'nav'      
                         'banner'
                         'main'
                         'section'
                         'footer'; 
    grid-template-columns: 100vw;


}
header{
    background-image: url(../images/siri.png);
    grid-area: banner;
    height: 220px;

}

main{
    grid-area: main;
}

main h1, main p{
    text-align: center;
}
nav{
    align-items: center;
    background-color: #d3bbbe;
    grid-area: nav;
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 0 10px;
    

}

nav div{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

nav div span{
    background-color: black;
    height: 3px;
    width: 30px;

}

nav img{
    width: 35px;
}